body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-bluedark {
  background-color: #2C3E50;
  background-image: none;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.navbar-brand span {
  color: #FFF;
}

.navbar-right li a span{
  color: #FFF;
}

.jumbo {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 5%;
}

.jumbo h1,
.jumbo p {
  color: #FFF;
  text-transform: uppercase;
}

.jumbo h1 {
  font-size: 50px;
}

.jumbo p {
  font-size: 18px;
}

.divider {
  margin-bottom: 50px;
}

.divider_dark {
  text-align: center;
}

.divider .star,
.divider_dark .star {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
}

.divider .star {
  color: #FFF;
}

.divider_dark .star {
  color: #2C3E50;
}

.divider .hr,
.divider_dark .hr {
  display: inline-block;
  width: 10%;
  border-radius: 2px;
}

.divider .hr {
  border-bottom: 4px solid #FFF;
}

.divider_dark .hr {
  border-bottom: 4px solid #2C3E50;
}

.portfolio {
  text-align: center;
  padding: 40px 0;
}

.portfolio h2 {
  text-transform: uppercase;
  color: #2C3E50;
}

#avatar {
  width: 200px;
}

.bg-green {
  background-color: #1ABC9C;
}

.item-cabin {
  background-image: url("../img/cabin.png");
}

.item-cake {
  background-image: url("../img/cake.png");
}

.item-circus {
  background-image: url("../img/circus.png");
}

.item-game {
  background-image: url("../img/game.png");
}

.item-safe {
  background-image: url("../img/safe.png");
}

.item-submarine {
  background-image: url("../img/submarine.png");
}

.item-img {
  position: relative;
  border-radius: 10px;
  height: 230px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #1ABC9C;
  opacity: 0;
  width: 100%;
  border-radius: 10px;
}
.layer h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size:50px;
  color: #FFF;
}

.layer:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 1.5s;
}

.about {
  text-align: center;
  padding: 50px 0;
}

.about h1 {
  text-transform: uppercase;
  color: #FFF;
  font-size: 50px;
}

.about p {
  color: #FFF;
  font-size: 18px;
  padding: 0 10px;
}

.btn-download {
  background-image: none;
  background-color: transparent;
  color: #FFF;
  padding: 15px 30px;
  text-shadow: none;
  margin-top: 30px;
}

.btn-send {
  background-image: none;
  background-color: #1ABC9C;
  color: #FFF;
  text-shadow: none;
  border-color: none;
  padding: 8px 14px;
}

.contact-me {
  padding: 50px 0;
}

.contact-me h1 {
  text-transform: uppercase;
  text-align: center;
}

.contact-me form div label {
  text-align: left;
  font-size: 30px;
}

.info {
  background-color: #3A546D;
  text-align: center;
  color: #FFF;
  padding: 40px 0;
}

.info h3 {
 text-transform: uppercase;
}

.info a {
  color: #F8F9FA;
}

.info a:hover {
  color: #3A546D;
}

.info .container .row span i:hover{
  border: 1px solid #F8F9FA;
  padding: 20px 20px;
  border-radius: 100%;
  background-color: #F8F9FA;
}

.info .container .row span i {
  border: 1px solid #F8F9FA;
  padding: 10px 10px;
  border-radius: 100%;
}

.info .container .row span  {
  padding: 1px 1px;
}

.copy {
  background-color: #2C3E50;
  color: #FFF;
  text-align: center;
  padding: 30px 0;
}

.form-control {
  width: 60%;
  border: 1px solid #FFF;
}

#textarea {
  width: 60%;
  border: 1px solid #FFF;
}

#start_footer_text {
  color: #1ABC9C;
}



@media all and (min-width:768px) {

  .navbar-brand span {
    text-transform: uppercase;
    font-size: 25px;
    color: #FFF;
  }

  .navbar-right li a span{
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
  }

  .navbar-right li a span:hover {
    color: #1ABC9C;
    cursor: pointer;
  }

  .info a:hover {
    color: #3A546D;
  }

  .info .container .row span i:hover{
    border: 1px solid #F8F9FA;
    padding: 16px 16px;
    border-radius: 100%;
    background-color: #F8F9FA;
  }

  .info .container .row span i {
    border: 1px solid #F8F9FA;
    padding: 16px 16px;
    border-radius: 100%;
  }

  .info .container .row span  {
    padding: 1px 1px;
  }
}

@media all and (min-width:992px) {
  .info .container .row span  {
    padding: 5px 5px;
  }

}
