body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
    position: relative;
    min-height: 50px;
    /* margin-bottom: 20px; */
    /* border: 1px solid transparent; */
}

.navbar-bluedark {
  background-color: #2C3E50;
  background-image: none;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.jumbo {
  text-align: center;
  padding: 80px;
}

.jumbo h1,
.jumbo p {
  color: #FFF;
  text-transform: uppercase;
}

.jumbo h1 {
  font-size: 44px;
}

.divider #star {
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  font-size: 25px;
}

.divider .hr {
  display: inline-block;
  width: 10%;
  border-bottom: 4px solid #FFF;
  border-radius: 2px;
}

#avatar {
  width: 15em;
}

.bg-green {
  background-color: #1ABC9C;
}

@media all and (min-width:768px) {

  .navbar-brand span {
    text-transform: uppercase;
    font-size: 25px;
    color: #FFF;
  }

  .navbar-right li a span{
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
  }

  .navbar-right li a span:hover {
    color: #1ABC9C;
  }

}
